name: Publish Docker image

on:
  push:
    branches:
      - main
      # For testing the changes to the workflow to tag the commit and allow workflow dispatch. 
      # We can get rid of this once we are happy with the updated workflow
      - jlewi/cache
  # Allow manual triggering
  # This allows building images from branches
  workflow_dispatch: {}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      # GITHUB doesn't provide the short SHA automatically
      - name: Set short git commit SHA
        id: vars
        run: |
          calculatedSha=$(git rev-parse --short ${{ github.sha }})
          echo "COMMIT_SHORT_SHA=$calculatedSha" >> $GITHUB_ENV
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: |
            COMMIT_SHORT_SHA=${{ env.COMMIT_SHORT_SHA }}
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:commit-${{  env.COMMIT_SHORT_SHA }}
          
